.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block;/* по умолчанию показываем нужный блок */
  
}

.tabs__caption>.active{
    color:crimson;
    border-width: 1px 1px 1px 1px;
    border-color: crimson;
    cursor: default;
}


table{
  display: none; 
}

body{
    width: 70%;
    margin:0 auto;
}

.tabs ul{
    width:80%;
    float: left;
}
.tabs li{
    margin: ;
   display: inline;
    font: 25px Arial;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: white;
    
}
.tabs li:hover{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    cursor: default;
}
.t1,.t2 p{
    font: 20px Arial;
}
.oper{
    width:50%;
    float:left;
}
.select {
    font: 20px Arial;
    padding-top:15px;
}
.number{
    
    width:50%;
    float:right;
}
.number p{
    padding-bottom:15px;
}
.number button{
    margin-top: 30px;
}


table p{
    text-align: right;
}
.check{
    float: right;
}

